---
layout: default
---
<div class="container">
	<header class="clearfix">
		<h1>{{ site.name }}</h1>
	</header>
	<div id="grid-gallery" class="grid-gallery">
    	<section class="grid-wrap">
        	<ul class="grid">
        		<li class="grid-sizer"></li><!-- for Masonry column width -->
        		{% for post in site.posts %}
        		<li>
        			<figure>
        				<img src="{{ site.url }}/img/thumb/{{ post.photo }}" alt="img"/>
        				<figcaption>
        					<h3>{{ post.caption_header}}</h3>
        					<p>{{ post.caption }}</p>
        				</figcaption>
        			</figure>
        		</li>
        		{% endfor %}
        	</ul>
    	</section><!-- // grid-wrap -->

    	<section class="slideshow">
        	<ul>
        		{% for post in site.posts %}
        		<li>
        			<figure>
        				<img src="{{ site.url }}/img/large/{{ post.photo }}" alt="img"/>
        				<figcaption>
                            <h3>{{ post.caption_header}}</h3>
                            <p>{{ post.caption }}</p>
                        </figcaption>
        			</figure>
        		</li>
        		{% endfor %}
        	</ul>
        	<nav>
        		<span class="icon nav-prev"></span>
        		<span class="icon nav-next"></span>
        		<span class="icon nav-close"></span>
        	</nav>
        	<div class="info-keys icon">Navigate with arrow keys</div>
    	</section><!-- // slideshow -->
	</div><!-- // grid-gallery -->

	<!-- pagination -->
	{% if paginator.total_pages > 1 %}
	<div class="pagination">
		{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
		{% else %}
			<span>&laquo; Prev</span>
		{% endif %}

		{% for page in (1..paginator.total_pages) %}
			{% if page == paginator.page %}
				<span class="webjeda">{{ page }}</span>
			{% elsif page == 1 %}
				<a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
			{% else %}
				<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
			{% endif %}
		{% endfor %}

		{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
		{% else %}
			<span>Next &raquo;</span>
		{% endif %}
	</div>
	{% endif %}
</div>
